body {
	margin: 0;
	padding: 0;
}

#mbMap {
	position: absolute;
	width: 100%;
	height: 100%;
}

.infoArea {
	top: 0px;
}

.infoArea li {
	list-style: none;
}

.obstacleUl {
	padding-left: 0px;
}

.toggleBut {
	text-align: center;
}

.redSpan {

	color: red;
	font-weight: bold;
}